body {
  background-color: #FFF5EE;
}
hr{
  background-color: #FFF5EE;
  border-style: none;
  border-top-style: dotted;
  border-color: #000;
  border-width: 5px;
  width: 5%;
}
/* Fixed Navigation Section */
#fixed {
  background-color: #FFF5EE;
  position: fixed;
  top: -70px;
  width: 100%;
  transition: top 0.3s;
  z-index: 99;

}

/* Universal Books Section */
.row {
  padding: 0% 3%;
}
.search-bar {
  text-align: left;
  padding-top: 2%;
}
.title {
  text-align: center;
}
.cart {
  text-align: right;
  padding-top: 2%;
}
.uni-pic {
  height: 100px
}
.cart-icon {
  color: #000;
}
.user-icon {
  color: #000;
}

/* Navigation Section */
.navi {
  /* padding-bottom: 1rem; */
}
.navbar-brand {
  font-family: "Montserrat-Thin";
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 30px;
}
.navbar-item {
  padding: 0 18px;
}
.nav-link {
  padding: 0 2%;
}

/* Introduction Section */
.intro {
  text-align: center;
  position: relative;
  z-index: -1;
  /* padding: 10px 0px 0px; */
}
.book-image {
  width: 100%;
  height: 600px;
}

/* Book Section */
.container {
  text-align: center;
}
.title-shop {
  padding: 3% 0% 2%;
}
.sliding-books {
  height: 250px;
}
.carousel-books {
  padding: 0% 9%;
  margin: 4% 0%;
}
.direction-button {
  background-color: #000;
  width: 80px;
}

/* Quotes Section */
#quotes {
  text-align: center;
  padding: 5% 0%;
}
.quotes-inner {
  padding: 3% 5%
}
.quote-size {
  font-family: "Montserrat";
  font-size: 75px;
  font-weight: 250;
}

/* Address Section */
.address {
  background-color: #C0C0C0;
  color: #fff;
}
.address-row {
  padding: 3% 2%;
}
.address-shop {
  text-align: center;
}
.address-map {
  padding: 4% 2%;
}


.demo {
  height: 300px;
}
